.square{
    width: 200px;
    background-color: whitesmoke;
    height: 200px;
    border: solid 2px rgb(47, 56, 52);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 15px solid #83a5cf;
    box-sizing: border-box;
}

.cross{
    width: 180px;
    height: 180px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content:"";
    position: absolute;
    background-color: #f19e9a;
}

.cross:before{
    left:50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after{
    top:50%;
    height: 30%;
    margin-top:-15%;
    width: 100%;
}