.gameContainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gameboard{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgb(47, 56, 52);
}

.playBtn{
    font-family: 'Just Another Hand', cursive;
    font-size: 3.5rem;
    background-color: #EFA4A0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    max-width: 10rem;
    width: 100%;
    margin: 25px auto;
    padding: 8px;
    display: block;
    text-shadow: 2px 2px 3px #a77370;
    box-shadow: 2px 2px 3px #a77370;   
}
.playBtnContainer{
    margin: 0;
    width: 50rem;    
   
}

.message{
    text-shadow: 2px 2px 3px #a0c9a4;
    color:  #f4ec8c ;
    font-size: 8rem;
}

.homeLink {
    margin-top: 1rem;
    position: absolute;
    top: 5px; 
    right: 10px; 
    text-decoration: none;
    color:  whitesmoke;
    letter-spacing: 5px;
    font-size: 3.5rem;
    cursor: pointer;
    text-shadow: 2px 2px 3px #a0c9a4;
  }