.gameContainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gameboard{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.playBtn{
    font-family: 'Just Another Hand', cursive;
    font-size: 3.5rem;
    background-color: #EFA4A0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    max-width: 10rem;
    width: 100%;
    margin: 25px auto;
    padding: 8px;
    display: block;
}
.playBtnContainer{
    margin: 0;
}