body{
    margin-top: 50px;
}
.userName {
    font-size: 150px;
    color:  #f4ec8c ;
    display: inline-block;
    transform: rotate(17deg);
}

.logoutLink {
    position: absolute;
    top: 20px; 
    right: 50px; 
    text-decoration: none;
    color: #EFA4A0; 
    letter-spacing: 5px;
    font-size: 40px;
    cursor: pointer;
}
.welcome{
    color: #89A8CD;
    margin-bottom: 20px;
}

.subTitle {
    margin: 50px auto;
    font-size: 80px;
    color:  whitesmoke;
    font-weight:50;  
    text-align: center;
    letter-spacing: 5px;
   
  }

  ul {
    margin-top: 150px;
    list-style: none;
    display: flex;
    justify-content: center;
  }


  .gameLink{
    padding: 5px 25px;
    border-radius: 40px;
    background-color: #EFA4A0;
    color:white;    
    font-size: 60px;    
    margin-right: 50px;
    text-decoration: none;
  }

img{
  background-color: transparent;
}