.newUserContainer {
  max-width: 40rem;
  width: 90%;
  padding: 2vh;
  border-radius: 5px;
  text-align: center;
  height: auto
}

h2 {
  font-size: 5vw; 
  color: #f4ec8c;
  letter-spacing: 0.5vw; 
  font-weight: 500; 
  text-align: center;
  margin: 0;
  letter-spacing: 1.2vw;
}

.newUserContainer label {
  display: block;
  margin: 0;
  font-size: 3vw; 
}

.newUserContainer label:first-of-type {
  display: block;
  margin: 3vh auto 0 auto ;
  font-size: 3vw; 
}

.newUserContainer input {
  max-width: 20rem;
  width: 90%;
  padding: 1vh;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.newUserContainer button {
  background-color: #7bb293;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  max-width: 10rem;
  width: 100%;
  margin: 4vh auto 0 auto; 
  padding: 2vh;
  display: block;
}
