body {
  font-family: 'Just Another Hand', cursive;
  background-color: #b2e1b7;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TODO: Styling by html elemnt: add styling for h1 and h2 */
h1 {
  font-size: 120px;
  color: #f4ec8c;
  letter-spacing: 8px;
  font-weight: 100;
}

/* TODO: Styling by id: add styling for #title */
h2 {
  font-size: 150px;
}

h3 {
  font-size: 100px;
}

.question {
  display: inline;
  color: #FFFFFF;
}

/* TODO: Styling by id: add styling for canvas */
.myCanvas {
  border-radius: 10px;
  vertical-align: top;
  display: inline;
  border: solid 5px #FFFFFF;

}

.container {
  text-align: center;
  margin: 50px auto;
  display: block;
}

.btn {
  margin: 10px;
  background-color: #7BB293;
  border-radius: 20px;
  border-width: 0;
  cursor: pointer;
  color: #242E6B;
  line-height: 70px;
  font-family: 'Just Another Hand', cursive;
  font-size: 70px;
  letter-spacing: 3px;
  padding: 13px 32px 0 32px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  width: 40rem;
}

.btn:hover {
  background-color: #f4ec8c;
  color: #FFFFFF;
}

/* TODO: Styling by class: add Styling for button on hover */