ul{
  margin:0 auto;
}
.levelsContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 30%;
}

.levelsLink {
  margin-bottom: 10px;
  text-align: left;
  text-decoration:none;
  color: #f4ec8c;
  letter-spacing: 5px;
  font-size: 60px;
}

.chooseLevel {
  margin: 0 auto;
  color: whitesmoke;
  display: block;
  text-align: center;
}

.homeLink {
  position: absolute;
  top: 20px; 
  right: 30px; 
  text-decoration: none;
  color:  #89A8CD;
  letter-spacing: 5px;
  font-size: 40px;
  cursor: pointer;
}


.logoutLink {
  position: absolute;
  top: 20px; 
  left: 30px; 
  text-decoration: none;
  color: #EFA4A0; 
  letter-spacing: 5px;
  font-size: 40px;
  cursor: pointer;
}