body,
html {
  height: 100%;
}

body {
  font-family: 'Just Another Hand', cursive;
  background-color: #b2e1b7;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 120px;
  color: #f4ec8c;
  letter-spacing: 8px;
  font-weight: 100;
}

h2 {
  font-size: 150px;
  letter-spacing: 8px;
}

h3 {
  font-size: 80px;
  letter-spacing: 6px;
}